<h1>Login</h1>
  <div uib-alert dismiss-on-timeout="5000" ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.close($index)">{{alert.message}}</div>
<p>
    <a href="/login/facebook">Login with Facebook</a>
</p>
<form ng-submit="vm.login(vm.user)">
    <div class="form-group"><label>User Name</label>
        <input class="form-control" type="text" ng-model="vm.user.username">
    </div>
    <div class="form-group"><label>Password</label>
        <input class="form-control" type="password" ng-model="vm.user.password">
    </div>
    <button class="btn btn-warning" type="submit">Submit</button>

</form>
