<h1>Register</h1>
<form ng-submit="vm.register(vm.user)">

<input><label>User Name</label>
  <input type="text" ng-model="vm.user.username"></input>
  <hr/>
  <input><label>Email</label>
  <input type="email" ng-model="vm.user.email"></input>
  <hr/>
  <input><label>Password</label>
  <input type="password" ng-model="vm.user.password"></input>
  <hr/>
  <input class="md-block" flex-gt-sm>
            <label>State</label>
            <input ng-model="vm.user.state">
              <input ng-repeat="state in vm.states" value="{{state}}">
                {{state}}
              </input>
            </input>
          </input>
  <hr/>
  <input class="md-block" flex-gt-sm>
            <label>Select pType</label>
            <input ng-model="vm.user.pType">
              <input ng-repeat="pType in vm.pTypes" value="{{pType}}">
                {{pType}}
              </input>
            </input>
          </input>
  <hr/>

  <md-button type="submit">Submit</md-button>

</form>
