<alerts messages = "vm.alerts" ></alerts>

<hr>

<table ng-table="vm.tableParams" class="table">
    <tr ng-repeat="user in $data" ng-form="rowForm">
      <td title="'username'" sortable="'username'">
        <button class="btn btn-danger btn-sm ng-scope" ng-click="vm.delete(user.username)" ng-if="!row.isEditing">
          <span class=""></span> Delete
        </button>
           {{user.username}}</td>
      <td title="'roles'" sortable="'roles'">
           {{user.roles}}</td>
      <td title="'_id'"  sortable="'_id'">
           {{user._id}}
      </td>
    </tr>
</table>
