<div class="jumbotron">
  <h1>MBPM</h1>
  <p>Welcome to Myers-Briggs Personality Match!
     A social gathering place for people who..blah
     MBPM uses a Myers-Briggs Personality Type Indicator platform to
     connect blah this is too wordy. Learn which personalities are a good
     match for you and which are more challenging!
     Click here to learn more! `insert link`
     Don't know your personality type?
     Click on our quiz link above to get started!
     Happy connecting!
     -MBPM crew</p>
  <p><a class="btn btn-warning btn-lg">Learn More!</a></p>
</div>
