<div class="jumbotron">
    <h1>BMPM</h1>
    <br>
    <p>Welcome to Myers-Briggs Personality Match! A social gathering place for
        people who want to form meaningful connections.
        <br>

        <p>BMPM uses the Myers-Briggs 16 Personality Type Indicator
        platform to help you identify which personality types are ideal matches for you and which personalities present more challenges, all at the click of a button!
        </p><br>

        <p>Don't know your personality type? Click on our quiz link below to get started!
        Happy connecting!</p>
        <p>BMPM crew</p>
        <br>
    <ul class="nav nav-pills">
    <li><a target="_blank" href= "https://www.16personalities.com/free-personality-test"><button class="btn btn-warning"><h4>We like this quiz!</h4></button></a></li>
    <li><a target="_blank" href= "http://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/"><button class="btn btn-warning"><h4>Learn More about the theory!</h4></button></a></li>
    </ul>
</div>
