
<hr>
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">YOUR PROFILE:</h2>
  </div>
</div>
  <div class="panel-body">
    <h5>Image:</h5>
    <img ng-src="" class="img-responsive movie-poster-image" >
  </div>
  <div class="panel-body">
    <h1>{{vm.profile.username}}</h1>
  </div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
  <h2>Personality Type:</h2>
    <h2>{{vm.profile.pType.acronym}}</h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h2>Personality Persona:</h2>
    <h3>{{vm.profile.pType.nickname}}</h3>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h2>Description:</h2>
    <h4>{{vm.profile.pType.detail}}</h4>
  </div>
</div>
